<section class="tasks">
	
	<div class="container">

		<div class="row">

			<div class="col-md-12">

				<div class="row">

					<div class="task col-md-12">

						<div class="date-range">

							<div class="single-range">
								<span class="day">18</span>
								<span class="weekday">Wednesday</span>
								<span class="month">Mar</span>
								<span class="year">2018</span>
							</div>

							<div class="multi-range hide">

							</div>

							<input id="daterange">

							<i class="fas fa-chevron-right next-day"></i>

							<i class="fas fa-chevron-left prev-day"></i>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

</section>