<section class="timeline">

	<div class="container">

		<div class="row">

			<div class="col-md-12">

				<div class="row">

					<div class="task col-md-12">

						<div class="date-range">

							<div class="single-range">
								<span class="day"></span>
								<span class="weekday"></span>
								<span class="month"></span>
								<span class="year"></span>
							</div>

							<div class="multi-range hide">
								<span class="separator">-</span>
								<span class="day"></span>
								<span class="month"></span>
								<span class="year"></span>
							</div>

							<input id="daterange">

							<div class="tracker disabled" data-color="green">
				                <div class="inner">
				                    <p class="name">Work</p>
				                    <p class="time">00:02:12</p>
									<input class="add-note">
				                </div>
				            </div>

							<span class="back-to-day">
								<i class="fas fa-chevron-left"></i>
								Day View
							</span>

							<i class="fas fa-chevron-right next-day"></i>

							<i class="fas fa-chevron-left prev-day"></i>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

</section>
