<!DOCTYPE html>

<html>

<head>
	<title>Home</title>
	<link rel="stylesheet" href="css/externals.min.css">
	<link rel="stylesheet" href="css/main.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Rubik:300,400,700|Quicksand:300,400,500,700" rel="stylesheet">
	<meta charset="UTF-8">
</head>

<body data-page="<%= section %>" data-user-id=<% if (session.userId != undefined) { %> <%=session.userId %> <% } %>>

	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		<div class="container">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="#">Trackr</a>
			<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<% if (session.userId != undefined) { %>
					<li class="nav-item active scroll-to" data-scroll="section.tasks">
						<a class="nav-link" href="#">Tasks <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item scroll-to" data-scroll="section.trackers">
						<a class="nav-link" href="#">Trackers</a>
					</li>
					<li class="nav-item scroll-to" data-scroll="section.log">
						<a class="nav-link" href="#">Log</a>
					</li>
				<% } else { %>
					<li class="nav-item active">
						<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link scroll-to no-offset" data-scroll="section.features" href="#">Features</a>
					</li>
					<li class="nav-item">
						<a class="nav-link scroll-to no-offset" data-scroll="section.features-mobile" href="#">Chatbot</a>
					</li>
				<% } %>
			</ul>
			<ul class="navbar-nav justify-content-end ml-auto">
				<% if (session.userId != undefined) { %>
					<li class="nav-item">
						<div class="dropdown">
							<button class="nav-link dropdown-toggle" id="dropdownMenuButton2" aria-haspopup="true" aria-expanded="false">
							Chatbot
							</button>
						    <div class="dropdown-menu permanent" aria-labelledby="dropdownMenuButton">
								<h2>Chatbot</h2>
								<p>Connect to Facebook so you can track your time conveniently on the go</p>
								<p><%= session.facebookVerificationID %></p>
							</div>
						</div>
					</li>
					<a class="btn ml-md-3" href="/user/logout">Log Out</a>
				<% } %>
			</ul>
			</div>
		</div>
	</nav>
