<section class="log">

	<div class="container">

		<div class="row">

			<div class="col-md-12">

				<div class="header">

					<h1>Log</h1>

					<button class="hide">Add</button>

				</div>

				<div class="log-container">

					<div class="log direct hide" data-border-color="red">
						<p class="title">Studying</p>
						<span class="time start">13:23</span>
						<div class="note">
							<p class="timestamp">13:24</p>
							<p class="description">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit
							</p>
							<i class="fas fa-pencil-alt edit-note"></i>
						</div>
						<div class="note">
							<p class="timestamp">13:28</p>
							<p class="description">
								sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
							</p>
							<i class="fas fa-pencil-alt edit-note"></i>
						</div>
						<div class="note">
							<p class="timestamp">13:45</p>
							<p class="description">
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							</p>
							<i class="fas fa-pencil-alt edit-note"></i>
						</div>
						<i class="fas fa-pencil-alt edit-timer"></i>
						<i class="fas fa-plus add-note-to-timer"></i>
					</div>

					<div class="log direct hide" data-border-color="grey">
						<p class="title">Work</p>
						<span class="time start">13:58</span>
						<i class="fas fa-pencil-alt edit-timer"></i>
						<i class="fas fa-plus add-note-to-timer"></i>
					</div>

					<div class="log hide" data-border-color="blue">
						<p class="title">Movies</p>
						<span class="time start">14:43</span>
						<div class="note">
							<p class="timestamp">13:24</p>
							<p class="description">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit
							</p>
							<i class="fas fa-pencil-alt edit-note"></i>
						</div>
						<i class="fas fa-pencil-alt edit-timer"></i>
						<i class="fas fa-plus add-note-to-timer"></i>
					</div>

					<div class="log hide" data-border-color="orange">
						<p class="title">Studying</p>
						<span class="time start">13:23</span>
						<i class="fas fa-pencil-alt edit-timer"></i>
						<i class="fas fa-plus add-note-to-timer"></i>
					</div>

				</div>

			</div>

		</div>

	</div>

</section>
