<section class="log">
	
	<div class="container">

		<div class="row">

			<div class="col-md-12">

				<div class="header">

					<h1>Log</h1>

					<button>Add</button>

				</div>

				<div class="log-container">

					<div class="log direct" data-border-color="red">
						<p><strong>Studying</strong></p>
						<span class="time start">13:23</span>
						<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					</div>

					<div class="log direct" data-border-color="grey">
						<p><strong>Work</strong></p>
						<span class="time start">13:23</span>
					</div>

					<div class="log" data-border-color="blue">
						<p><strong>Movies</strong></p>
						<span class="time start">13:23</span>
						<span class="time end">14:34</span>
						<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>

					<div class="log" data-border-color="orange">
						<p><strong>Uni</strong></p>
						<span class="time start">13:23</span>
					</div>

				</div>

			</div>

		</div>

	</div>

</section>