<section class="stats hide">

	<div class="container">

		<div class="row">

			<div class="col-md-12">

				<div class="charts clearfix">
					<div class="chart">
						<canvas id="main-chart"></canvas>
					</div>
				</div>

			</div>

		</div>

	</div>

</section>
