<section class="tasks">

	<div class="container">

		<div class="row">

			<div class="col-md-12">

				<div class="header">

					<h1>Tasks</h1>

					<div class="dropdown">

						<button class="dropdown-toggle task-dropdown-toggle" id="dropdownMenuButton2" aria-haspopup="true" aria-expanded="false">
						Add
						</button>

					</div>

				</div>

				<div class="task-container row">
					Loading
				</div>

			</div>

		</div>

	</div>

</section>

<section class="task-stats hide">

	<div class="container">

		<div class="row">

			<div class="header">

				<h1>Tasks</h1>

			</div>

		</div>

		<div class="row">

			<div class="col-md-4">
				<div class="counter">
					<p class="number">12h</p>
					<p class="name">Total Assigned Time</p>
				</div>
			</div>

			<div class="col-md-4">
				<div class="counter">
					<p class="number">14h</p>
					<p class="name">Total Time</p>
				</div>
			</div>

			<div class="col-md-4">
				<div class="counter">
					<p class="number">2h</p>
					<p class="name">Difference</p>
				</div>
			</div>

			<div class="col-md-4">
				<div class="counter">
					<p class="number">84</p>
					<p class="name">Total Todos</p>
				</div>
			</div>

			<div class="col-md-4">
				<div class="counter">
					<p class="number">81</p>
					<p class="name">Completed Todos</p>
				</div>
			</div>

		</div>

	</div>

</section>
