<section class="tasks">
	
	<div class="container">

		<div class="row">

			<div class="col-md-12">

				<h1>Tasks</h1>

				<div class="task-container">

					<div class="task">

						<div class="inner">

							<div class="progress-pie-chart" data-percent="43">
							  <div class="ppc-progress">
							    <div class="ppc-progress-fill"></div>
							  </div>
							  <div class="ppc-percents">
							    <div class="pcc-percents-wrapper">
							      <span>%</span>
							    </div>
							  </div>
							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

</section>