<section class="trackers">

	<div class="container">

		<div class="row">

			<div class="col-md-12">

				<div class="header">

					<h1>Trackers</h1>

					<div class="dropdown">

						<button class="dropdown-toggle tracker-dropdown-toggle" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
						Add
						</button>

					</div>

				</div>

				<div class="tracker-container row">

					Loading

				</div>

			</div>

		</div>

	</div>

</section>
