<section class="trackers">
	
	<div class="container">

		<div class="row">

			<div class="col-md-12">

				<h1>Trackers</h1>

				<div class="tracker-container row">

					<div class="tracker col-md-3" data-color="red">

						<div class="inner">

						</div>

					</div>

					<div class="tracker col-md-3" data-color="yellow">
						<div class="inner">

						</div>
					</div>

					<div class="tracker col-md-3" data-color="green">
						<div class="inner">

						</div>
					</div>

					<div class="tracker col-md-3" data-color="red">
						<div class="inner">

						</div>
					</div>

					<div class="tracker col-md-3" data-color="blue">
						<div class="inner">

						</div>
					</div>

				</div>

			</div>

		</div>

	</div>

</section>