<section class="trackers">

	<div class="container">

		<div class="row">

			<div class="">

				<div class="header">

					<h1>Trackers</h1>

					<input class="add-note" placeholder="What are you up to?">

					<div class="dropdown">

						<button class="dropdown-toggle tracker-dropdown-toggle" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
						Add Tracker
						</button>

					</div>

				</div>

				<div class="tracker-container clearfix">

				</div>

			</div>

		</div>

	</div>

</section>
