<section class="trackers">
	
	<div class="container">

		<div class="row">

			<div class="col-md-12">

				<div class="header">

					<h1>Trackers</h1>

					<button>Add</button>

				</div>

				<div class="tracker-container row">

					<div class="tracker col-md-3" data-color="pink">

						<div class="inner">
							<p class="name">Working</p>
							<p class="time">0:00</p>
						</div>

					</div>

					<div class="tracker col-md-3" data-color="red">

						<div class="inner">
							<p class="name">Working</p>
							<p class="time">0:00</p>
						</div>

					</div>

					<div class="tracker col-md-3" data-color="yellow">
						<div class="inner">
							<p class="name">Uni</p>
							<p class="time">0:00</p>
						</div>
					</div>

					<div class="tracker col-md-3" data-color="green">
						<div class="inner">
							<p class="name">Study</p>
							<p class="time">0:00</p>
						</div>
					</div>

					<div class="tracker col-md-3" data-color="orange">
						<div class="inner">
							<p class="name">Hacking</p>
							<p class="time">0:00</p>
						</div>
					</div>

					<div class="tracker col-md-3" data-color="blue">
						<div class="inner">
							<p class="name">Commute</p>
							<p class="time">0:00</p>
						</div>
					</div>

					<div class="tracker col-md-3" data-color="purple">
						<div class="inner">
							<p class="name">Commute</p>
							<p class="time">0:00</p>
						</div>
					</div>

					<div class="tracker col-md-3" data-color="grey">
						<div class="inner">
							<p class="name">Commute</p>
							<p class="time">0:00</p>
						</div>
					</div>

				</div>

			</div>

		</div>

	</div>

</section>