<section class="trackers">

	<div class="container">

		<div class="row">

			<div class="col-md-12">

				<div class="header">

					<h1>Trackers</h1>

					<input class="add-note" placeholder="What are you up to?">

					<div class="dropdown">

						<button class="dropdown-toggle tracker-dropdown-toggle" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
						Add
						</button>

					</div>

				</div>

				<div class="tracker-container row">

				</div>

			</div>

		</div>

	</div>

</section>

<section class="task-stats hide">

	<div class="container">

		<div class="row">

			<div class="header">

				<h1>Trackers</h1>

			</div>

		</div>

		<div class="row">

			<div class="col-md-4">
				<div class="counter">
					<p class="number">17</p>
					<p class="name">Total Trackers</p>
				</div>
			</div>

			<div class="col-md-4">
				<div class="counter">
					<p class="number">428h</p>
					<p class="name">Total Hours Tracked</p>
				</div>
			</div>

			<div class="col-md-4">
				<div class="counter">
					<p class="number">264</p>
					<p class="name">Tracker Snippets</p>
				</div>
			</div>

			<div class="col-md-4">
				<div class="counter">
					<p class="number">732</p>
					<p class="name">Tracker Notes</p>
				</div>
			</div>

		</div>

	</div>

</section>
