<section class="trackers">
	
	<div class="container">

		<div class="row">

			<div class="col-md-12">

				<div class="header">

					<h1>Trackers</h1>

					<div class="dropdown">

						<button class="dropdown-toggle" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
						Add
						</button>

						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

							<h2>Add a <span class='type'>Tracker<span></h2>
						
							<div class="form-group">
								<label>Name</label>
								<input class="name" type="text">
							</div>

							<div class="form-group">

								<div class="color-picker">

									<span class="color" data-color="pink"></span>
									<span class="color" data-color="red"></span>
									<span class="color" data-color="yellow"></span>
									<span class="color" data-color="orange"></span>
									<span class="color" data-color="green"></span>
									<span class="color" data-color="blue"></span>
									<span class="color" data-color="purple"></span>
									<span class="color selected" data-color="grey"></span>

								</div>

							</div>

							<button class='submit-btn save-tracker-btn'>Save</button>

						</div>

					</div>

				</div>

				<div class="tracker-container row">

					<div class="tracker col-md-3" data-color="pink">

						<div class="inner">
							<i class="fas fa-ellipsis-h more-dropdown"></i>
							<p class="name">Working</p>
							<p class="time">0:00</p>
						</div>

					</div>

					<div class="tracker col-md-3" data-color="red">

						<div class="inner">
							<i class="fas fa-ellipsis-h more-dropdown"></i>
							<p class="name">Working</p>
							<p class="time">0:00</p>
						</div>

					</div>

					<div class="tracker col-md-3" data-color="yellow">
						<div class="inner">
							<p class="name">Uni</p>
							<p class="time">0:00</p>
						</div>
					</div>

					<div class="tracker col-md-3" data-color="green">
						<div class="inner">
							<p class="name">Study</p>
							<p class="time">0:00</p>
						</div>
					</div>

					<div class="tracker col-md-3" data-color="orange">
						<div class="inner">
							<p class="name">Hacking</p>
							<p class="time">0:00</p>
						</div>
					</div>

					<div class="tracker col-md-3" data-color="blue">
						<div class="inner">
							<p class="name">Commute</p>
							<p class="time">0:00</p>
						</div>
					</div>

					<div class="tracker col-md-3" data-color="purple">
						<div class="inner">
							<p class="name">Commute</p>
							<p class="time">0:00</p>
						</div>
					</div>

					<div class="tracker col-md-3" data-color="grey">
						<div class="inner">
							<p class="name">Commute</p>
							<p class="time">0:00</p>
						</div>
					</div>

				</div>

			</div>

		</div>

	</div>

</section>