<% include components/header %>

  <section class="fdb-block fdb-viewport intro">
    <div class="container align-items-center justify-content-center d-flex">
      <div class="row align-items-center text-left">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
          <img alt="image" class="fdb-icon mb-4 app-logo" src="/images/img_square_1.svg"/>
          <h1>Tracker</h1>
          <p class="text-h3">Trackr is a time tracker that let's you analyse your date and easily doucment every minute of your life.</p>
          <p class="mt-5">
            <a href="#" class="btn btn-shadow login-modal-open-btn">Sign Up</a>
            <a href="#" class="btn btn-white btn-shadow ml-4 login-modal-open-btn">Log In</a>
          </p>
        </div>
        <div class="col-12 col-sm-2 col-md-4 col-lg-6">
        	<div class="stats">
        		<div class="stat">
        			<p>422</p>
        			<h2>Active Users</h2>
        			<i class="fas fa-user"></i>
        		</div>
        		<div class="stat">
        			<p>6120</p>
        			<h2>Trackers</h2>
        			<i class="fas fa-clock"></i>
        		</div>
        		<div class="stat">
        			<p>1532335</p>
        			<h2>Tracked Hours</h2>
					<i class="fas fa-stopwatch"></i>
        		</div>
        	</div>
        </div>
      </div>
    </div>
  </section>

  <section class="fdb-block features">
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <h1 class="hide">Features</h1>
        </div>
      </div>

      <div class="row text-center justify-content-center mt-5">
        <div class="col-12 col-sm-4 col-xl-3 m-md-auto">
          <img alt="image" class="fdb-icon" src="/images/feature-tracker.png">
          <h3><strong>Trackers</strong></h3>
          <p>Create unlimited trackers, and easily switch between them with just a click</p>
        </div>

        <div class="col-12 col-sm-4 col-xl-3 m-auto pt-4 pt-sm-0">
          <img alt="image" class="fdb-icon" src="/images/feature-task.png">
          <h3><strong>Tasks</strong></h3>
          <p>Assign tasks to yourself and track how much time it actually took to finish it</p>
        </div>

        <div class="col-12 col-sm-4 col-xl-3 m-auto pt-4 pt-sm-0">
          <img alt="image" class="fdb-icon" src="/images/feature-log.png">
          <h3><strong>Log</strong></h3>
          <p>Easily add and reviews notes for every minute of your tracked time</p>
        </div>
      </div>
    </div>
  </section>

  <section class="fdb-block pb-md-0 features-mobile">
    <div class="container">
      <div class="row text-right align-items-center">
        <div class="col-7 col-md-4 m-auto">
          <img alt="image" class="chatbot-demo img-fluid br-b-0" src="/images/chatbot-demo.gif">
        </div>

        <div class="col-12 col-md-7 col-lg-5 m-auto text-left pt-5 pt-md-0">
          <div class="row pb-lg-5">
            <div class="col-9">
              <h3><strong>Trackr on the go</strong></h3>
              <p>Track your time with a Facebook Messenger Chatbot</p>
            </div>
          </div>

          <div class="row pt-4 pt-md-5 pb-lg-5">
            <div class="col-9">
              <h3><strong>Easy to use</strong></h3>
              <p>Start or stop a timer by just tpying "start" + timer name</p>
            </div>
          </div>

          <div class="row pt-4 pt-md-5 pb-lg-5">
            <div class="col-9">
              <h3><strong>Simply superb</strong></h3>
              <p>While a timer is running you can add a note, these will be saved with a current timestamp, so you will know exactly what you were doing at the minute of writing</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="fdb-block cta">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 text-center">
          <p class="text-h3">
            Create an account and start tracking your time from your browser and Messenger and gain meaningful insights of how you spend your days and learn how you to schedule your time more efficiently
          </p>

          <p class="mt-5 mt-sm-4">
            <a class="btn login-modal-open-btn" href="#" >Sign Up</a>
          </p>
        </div>
      </div>
    </div>
  </section>

<% include components/footer %>

<% include components/login-modal %>
