@import '../colors';

.date-range {
	cursor: pointer;
	position: relative;
	padding: 0em 0em;
	transition: padding 0.3s;

	div:not(.tracker) {
		display: inline-block;
		font-family: 'Quicksand';
		width: 250px;

		span {
			display: inline-block;

			&.day {
				font-weight: 500;
				font-size: 4em;
				text-align: center;
				width: 70px;
				line-height: 1em;
			}

			&.weekday {
				font-size: 1.6em;
				font-weight: 400;
				margin-left: 6px;
			}

			&.month {
				font-size: 1.2em;
				font-weight: 700;
				display: block;
				text-align: center;
				width: 70px;
				text-transform: uppercase
			}

			&.year {
				font-size: 1.2em;
				font-weight: 400;
				display: block;
				text-align: center;
				width: 70px;
			}

		}

		&.multi-range {
			position: relative;
			margin-left: 2em;

			.separator {
				position:  absolute;
				font-size:  5em;
				left: -36px;
				top: 0px;
				font-weight: 300;
				transform: rotate(120deg);
			}

		}

	}

	.back-to-day {
		display: none;
		position: absolute;
		left: 0;
		top: 48px;
		padding-left: 16px;
		font-weight: 700;
	    text-transform: uppercase;

		svg {
			display: inline-block;
			position: absolute;
			top: 3px;
			font-size: 1em;
			left: 0;
		}

	}

	&.multi {
		padding: 0em 0em 0em 130px;

		div:not(.tracker) {
			width: 120px;

			.month, .year {
				display: inline-block;
			}

		}

		.next-day, .prev-day {
			display: none;
		}

		.back-to-day {
			display: inline-block;
		}

		&:hover {
			padding: 0em 0em 0em 130px;
		}

	}

	input#daterange {
		opacity: 0;
		left: 0px;
		position: absolute;
		bottom: -20px;
	}

	svg {
		position: absolute;
		font-size: 1.6em;
		top: 44px;
		display: none;

		&.prev-day {
			left: 0px;
		}

		&.next-day {
			right: 0px;
		}

	}

	.tracker {
		display: inline-block;
		margin: 0 !important;
		float: right;

		.inner {
			width: 200px !important;
			height: 120px !important;
			position: relative;

			.name {
				font-size: 1.6em !important;
				padding: 0 12px !important;
				height: auto !important;
				font-weight: 500;
				text-align: left !important;
			}

			.time {
				height: auto !important;
				font-size: 2em !important;
				text-align: left !important;
				padding: 0 12px !important;
				line-height: 1 !important;
			}

			.add-note {
				border-radius: 0 0 12px 12px;
			    border: navajowhite;
			    width: 100%;
			    background-color: rgba(0, 0, 0, 0.2);
			    position: absolute;
			    bottom: 0;
			    left: 0px;
				padding: 4px 12px;
			}

		}

	}

	&:hover {
		padding: 0em 3em;

		svg {
			display: inline-block;
		}

	}

}

.daterangepicker {

	.calendar {

		.fa-calendar {
			position: absolute;
			top: 7px;
			left: 7px;
		}

		td.active {
			background-color: #333;
		}

	}

	.ranges {
		float: none !important;

		.range_inputs {

			.cancelBtn {
				display: none;
			}

			.applyBtn {
				background-color: #333;
				border: none;
			}

		}

	}

}
