@import '../colors';

.dropdown-menu {
	padding: 16px;
	width: 250px;
	border-radius: 0;
	border: none;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

	h2 {
		margin-bottom: 0.6em;
	}

	.form-group {

		input {
			background-color: transparent;
			width: 100%;
			border: none;
			border-bottom: 1px solid #333;
		}

		label {
			margin-bottom: 0.2em;
		}

		.color-picker {
			margin: -4px;

			.color {
				display: inline-block;
				width: 45px;
				height: 45px;
				margin: 4px;
				cursor: pointer;

				&[data-color='red'] { background-color: $red; }
				&[data-color='pink'] { background-color: $pink; }
				&[data-color='yellow'] { background-color: $yellow; }
				&[data-color='green'] { background-color: $green; }
				&[data-color='orange'] { background-color: $orange; }
				&[data-color='blue'] { background-color: $blue; }
				&[data-color='purple'] { background-color: $purple; }
				&[data-color='grey'] { background-color: $grey; }

				&.selected {
					border: 5px solid rgba(0,0,0,0.3);
					cursor: unset;
				}

			}

		}

	}

	.submit-btn {
		border: 2px solid #333 !important;
		color: #333 !important;
		float: right;
	}

}

.tracker {

	.dropdown-menu {
		left: 16px;
		top: 220px;
	}

}
