body[data-page="home"] {

	section.intro {
		background-image: linear-gradient(135deg,#172a74,#21a9af);
		min-height: 0px;

		.app-logo {
			margin-top: 5em;
		}

		h1, p{
			color: white;
		}

		h1 {
			margin-top: 0;
		}

		.row {
			width: 100%;
		}

		.stats {

			.stat {
				margin: 2.2em 0;
				position: relative;

				h2, p {
					text-align: right;
					color: white;
					margin: 0;
					padding-right: 0;
				}

				h2 {
					font-weight: 300;
					font-size: 1em;
				}

				p {
					font-weight: 700;
					font-size: 2.5em;
					line-height: 1em;
				}

				svg {
					float: right;
					color: white;
					position: absolute;
					bottom: 0px;
					right: 0px;
					margin: 3px 0px;
					font-size: 32px;
					display: none;
				}

			}

		}

	}

	section.features {
		background-color: whitesmoke;

		img {
			width: 160px;
		}

	}

	section.features-mobile {
		background-color: white;

		img.chatbot-demo {
			position: absolute;
			top: -140px;
			left: 0px;
			transform: scale(1.35);
		}

		.row {
			padding-bottom: 1em !important;
			padding-top: 1em !important;
		}

	}

	section.cta {
		background-image: linear-gradient(135deg,#172a74,#21a9af);

		p {
			color: white;
		}

	}

}
