@import '../colors.scss';

.log-container {

	.log {
		border-left-style: solid;
		border-left-width: 12px;
		padding: 12px 24px 12px 24px;
		margin-left: 80px;
		position: relative;
		margin-bottom: 12px;
		position: relative;

		p {
			margin: 0;
		}

		.note {
			margin-top: 12px;
			font-weight: 300;
			position: relative;

			.timestamp {
				display: inline-block;
				width: 60px;
				float: left;
				padding-left: 4px;
			}

			.description {
				display: inline-block;
				width: calc(100% - 60px);
			}

			.edit-note {
				display: none;
				font-size: 13px;
				cursor: pointer;
			}

			&:hover {
				background-color: rgba(0, 0, 0, 0.1);

				.edit-note {
					display: inline-block;
					position: absolute;
					top: 5px;
					right: 5px;
				}

			}

		}

		.time {
			position: absolute;
			left: -60px;

			&.start {
				top: 0px;
			}

			&.end {
				bottom: 0px;
			}

		}

		&.direct {
			margin-bottom: 0;
		}

		.edit-timer, .add-note-to-timer {
			display: none;
			position: absolute;
			font-size: 13px;
			top: 18px;
		    right: 12px;
			cursor: pointer;

			&.add-note-to-timer {
				right: 32px;
			}

		}

		&:hover {
			background-color: rgba(0, 0, 0, 0.05);

			.edit-timer, .add-note-to-timer {
				display: inline-block;
			}

		}

	}

}
