@import '../colors.scss';

nav.navbar {
	padding: 24px 12px;
	background-color: $whitesmoke;

	.dropdown-toggle {
		border: none;
		background: transparent;
		cursor: pointer;
	}

	.dropdown-menu {
		top: 64px;
	}

}

body[data-page="home"] {

	nav.navbar {
		position: absolute;
		z-index: 10;
		width: 100%;
		background: transparent;

		a {
			color: white !important;
		}

	}
}
