@import '../colors.scss';

.tracker-container {
	
	.tracker {
		margin: 0em 0em 2em 0em;

		.inner {
			width: 200px;
			height: 200px;
			border-radius: 100%;
			cursor: pointer;
			margin: auto;

			p {
				margin: 0;

				&.name {
					text-align: center;
					font-weight: 300;
					font-size: 2.4em;
					padding: 64px 0;
					line-height: 1.8em;
					height: 100%;
					transition: height 0.3s, padding 0.3s;
				}

				&.time {
					height: 0px;
					transition: height 0.3s;
					overflow: hidden;
					font-size: 2.8em;
					text-align: center;
				}

			}

			&.active {
				animation: pulse 3s infinite;
				border: 8px solid rgba(0,0,0,0.2);

				p {

					&.name {
						height: auto;
						padding: 24px 0px 0px 0px;
						font-size: 1.6em;
					}

					&.time {
						padding: 4px 0px;
						height: auto;
					}

				}

			}

		}

		&[data-color='red'] {

			.inner {
				background-color: $red;
			}

		}

		&[data-color='yellow'] {

			.inner {
				background-color: $yellow;
			}

		}

		&[data-color='orange'] {

			.inner {
				background-color: $orange;
			}

		}

		&[data-color='green'] {

			.inner {
				background-color: $green;
			}

		}

		&[data-color='blue'] {

			.inner {
				background-color: $blue;
			}

		}

	}

}

@-webkit-keyframes pulse {

	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.08);
	}

	100% {
		transform: scale(1);
	}

}